.pokemon-list-view {
  display: flex;
  width: 90vw;
  margin-left: 10vw;
  flex-direction: column;
  justify-self: center;
}

.render-pokemon-list-view {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90vw;
}

.page-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  color: white;
}

.page-controls .MuiSvgIcon-root {
  color: white;
}

.page-container {
  display: flex;
  width: 100vw;
}
.icon-active .MuiSvgIcon-root {
  background-color: #f8f8f875;
}
